<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'posts' %}"> <h1>List books menu: </a> </h1> </br>
    </div>
  
{% comment %}
    <!-- Collect the nav links, forms, and other content for toggling -->
 <!--    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        
        <li {% if active == 'add_post' %}class="active"{% endif %}><a href="{% url 'add_post' %}">New post [menu]</a></li>
       
        <ul class="nav navbar-nav navbar-right">
            
    <li><a href="#">{{ request.user }} [menu]</a></li>
  -->  
{% endcomment %}    

    {% comment %}
    <li><a href="{% url 'create_user' %}">Rejestracja</a></li>
    <li><a href="{% url 'login' %}">Logowanie</a></li>
    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
    {% endcomment %}
  
        </ul>
    </div><!-- /.container-fluid -->
</nav>
</br> 
{{ ip_address }}

{% if request.user.is_authenticated %}
    <a href="#"> </a> Użytkownik zalogowany: {{ request.user }} <a href="{% url 'logout' %}"> Log out</a></br>
   
{% else %}
     <a href="#"> </a> Użytkownik niezalogowany <a href="{% url 'logout' %}"> Login </a> / <a href="{% url 'logout' %}">Rejestracja</a></br>
{% endif %}
{% comment %}
    <li><a href="{% url 'create_user' %}">Rejestracja</a></li>
    <li><a href="{% url 'login' %}">Logowanie</a></li> 
    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
{% endcomment %}

{% if perms.post.add_post %}
    {% if active == 'posts' %} 
    <div class="active"></div> <h2>List of books:</h2>
    {% elif active == 'add_post' %}
    <div class="active"></div> <h2>New book:</h2>
    
    {% endif %}
    
    {% if request.user.is_authenticated %}   
        <a href="{% url 'add_post' %}"> <h3>Add book </a></h3></li>
    {% endif %}
    {% else %}
     
{% endif %}